<h1>Wrapper components - Angular</h1>


<h2>Simple sample</h2>
<p>Hi!</p>

<app-form-group title="Grouped fields">

  <form [formGroup]="form">
    <app-input formControlName="sampleField" label="Label"></app-input>

    <app-input formControlName="secondField" label="Label 2" type="number"></app-input>
  </form>

</app-form-group>

<p>{{ form.value | json}}</p>

<h2>Complex sample</h2>
<form [formGroup]="complexForm" class="complex">


  <app-complex-input formControlName="name" label="Name">
    <div
      *ngIf="complexForm.controls.name.invalid && (complexForm.controls.name.dirty || complexForm.controls.name.touched)">
      <div *ngIf="complexForm.controls.name.errors.required">This field is required</div>
      <div *ngIf="complexForm.controls.name.errors.duplicated"> Duplicated name </div>
      <div *ngIf="complexForm.controls.name.errors.maxlength">
        Incorrect length for this field.</div>
    </div>
  </app-complex-input>

  <button (click)="invalidate()">Make it incorrect</button>

</form>
